*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.menu-bar{
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: azure;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    font-size: 18px;
}
.menu-bar ul li a{
    color: white;
    text-decoration: none;
}
.menu-bar ul li :hover{
    color: orange;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.6);
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: orange;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: rgba(0,0,0,0.6);
}